<div class="page-header">
	<h1>New Player</h1>
</div>
<div class="newPlayer">
	<form class="form-horizontal" ng-submit="createPlayer()" autocomplete="off">
		<div class="form-group">
			<label class="control-label col-md-2" for="name">Username</label>
			<div class="col-md-10"><input class="form-control" id="name" type="string" ng-model="player.username" focus-first required /></div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="phone">First Name</label>
			<div class="col-md-10"><input class="form-control" id="firstName" type="string" ng-model="player.firstName" required /></div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="phone">Last Name</label>
			<div class="col-md-10"><input class="form-control" id="lastName" type="string" ng-model="player.lastName" required /></div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="phone">Phone Number</label>
			<div class="col-md-10"><input class="form-control" id="phone" type="number" ng-model="player.phone" /></div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="email">Email</label>
			<div class="col-md-10"><input class="form-control" id="email" type="email" ng-model="player.email" /></div>
		</div>
		<div class="form-group"> 
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default">Create</button>
			</div>
		</div>
	</form>
</div>
