<div class="account-changeEmail">
	<form class="form-horizontal" ng-submit="validateEmail()" autocomplete="off">
		<div class="form-group">
			<label class="control-label col-md-2" for="newEmail">New Email</label>
			<div class="col-md-10"><input class="form-control" id="newEmail" type="string" ng-model="email" focus-first required /></div>
		</div>
		<div class="form-group"> 
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default">Change</button>
			</div>
		</div>
	</form>
</div>
