<div class="page-header">
	<h1>Change Password</h1>
</div>
<div class="account-changePassword">
	<form class="form-horizontal" ng-submit="validatePassword()" autocomplete="off">
		<div class="form-group">
			<label class="control-label col-md-2" for="currentPassword">Current Password</label>
			<div class="col-md-10"><input class="form-control" id="currentPassword" type="password" ng-model="currentPassword" focus-first required /></div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="newPassword">New Password</label>
			<div class="col-md-10"><input class="form-control" id="newPassword" type="password" ng-model="newPassword" required /></div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="newPasswordConfirm">Confirm New Password</label>
			<div class="col-md-10"><input class="form-control" id="newPasswordConfirm" type="password" ng-model="newPasswordConfirm" required /></div>
		</div>
		<div class="form-group"> 
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-primary">Change</button>
			</div>
		</div>
	</form>
</div>
