<div class="page-header">
	<h1>Challenges</h1>
</div>
<div class="info-challenges">
	<h3>Prerequisites</h3>
	<p>Before you can issue, resolve, or forfeit challenges, you need an account. So pick a 
		user name and <a ng-href="#/signUp">sign up</a>. You must be logged in before any 
		of the below options are available.</p>
		
	<h3>Issuing Challenges</h3>
	<ul>
		<li>Issue a challenge by clicking the board button, "Challenge."</li>
		<li>Cannot challenge yourself. Duh&#33;</li>
		<li>Cannot have multiple unresolved challenge between two players.</li>
		<li>Can only issue challenges during week days.</li>
		<li>Can only issue challenges to players above your rank.</li>
		<li>Can only issue challenges to players within 1 tier.</li>
	</ul>
	
	<h3>Resolving Challenges</h3>
	<ul>
		<li>View the profile of either player involved and click the <span class="glyphicon glyphicon-fullscreen"></span> icon.</li>
		<li>Click the "Resolve" button that appears.</li>
		<li>Report the number of games each player won.</li>
		<li>The match cannot end in a tie.</li>
		<li>The match cannot be resolved once expired.</li>
	</ul>
	
	<h3>Forfeiting Challenges</h3>
	<ul>
		<li>View the profile of either player involved, and click the <span class="glyphicon glyphicon-fullscreen"></span> icon.</li>
		<li>Click the "Forfeit" button that appears.</li>
		<li>Only the challengee can forfeit.</li>
	</ul>
		
</div>
