<div class="info-challenges">
	<h3>Prerequisites</h3>
	<p>Before you can issue, resolve, or forfeit challenges, you need an account. So pick a 
		user name and <a ng-href="#/signUp">sign up</a>.</p>
		
	<h3>Issuing Challenges</h3>
	<ul>
		<li>Issue a challenge by clicking the board button, "Challenge."</li>
		<li>Cannot challenge yourself. Duh&#33;</li>
		<li>Cannot have multiple unresolved challenge between two players.</li>
		<li>Can only issue challenges during week days.</li>
		<li>Can only issue challenges to players above your rank.</li>
		<li>Can only issue challenges to players within 1 tier.</li>
		<li>Cannot issue challenges before unresolving incoming challenges.</li>
		<li>Cannot have more than 1 outgoing challenge.</li>
	</ul>
	
	<h3>Resolving Challenges</h3>
	<ul>
		<li>Report the match by clicking the profile button, "Resolve."</li>
		<li>Report the number of games each player won.</li>
		<li>The match cannot end in a tie.</li>
		<li>The match cannot be resolved if it has expired.</li>
	</ul>
	
	<h3>Forfeiting Challenges</h3>
	<ul>
		<li>Forfeit a challenge by clicking the profile button, "Forfeit."</li>
		<li>Only the challengee can forfeit.</li>
		<li>Challenges may be forfeited before the challenge expires.</li>
		<li>Challenges must be forfeited after the challenge expires.</li>
	</ul>
		
</div>
