<div class="info-rules">
	<h3>Prerequisites</h3>
	<p>An official match is put in motion by issuing a challenge through the ladder system. 
		Verbal challenges are great and we encourage friendly competition, but to advance 
		on the ladder those words must be put into code! See the <a ng-href="#/info/challenges">Challenges</a> 
		guide for more information on how to do this and to report the outcome of the match.</p>
		
	
	<h3>Beginning a Match</h3>
	<ul>
		<li>Challengee chooses starting side of the table or service.</li>
		<li>Challenger chooses the other option.</li>
		<li>While not required, please remind your opponent this is a challange match.</li>
	</ul>
	
	<h3>Serving</h3>
	<ul>
		<li>Present the ball flat above your palm at table level.</li>
		<li>Toss the ball at least six inches without spinning the ball.</li>
		<li>Strike the ball behind the table edge.</li>
		<li>The ball must bounce once on your side and at least once on the opponnent's side.</li>
		<li>If the ball meets the above conditions AND contacts the net, redo the serve.</li>
		<li>While not required, it is good practice to declare the score before serving.</li>
	</ul>
	
	<h3>Switching Serves</h3>
	<ul>
		<li>Alternate service player every two points.</li>
		<li>When both players have 10+ points a different serving pattern occurs.</li>
		<ul>
			<li>The player who served at 0-0 will always serve when the score is equal.</li>
			<li>The other player will serve at all other times.</li>
		</ul>
	</ul>
	
	<h3>Winning a Game</h3>
	<ul>
		<li>The first player to have 11+ points and be ahead by 2 points is the winner.</li>
	</ul>
	
	<h3>Winning the Match</h3>
	<ul>
		<li>Best of 5 games when challenging tier 1.</li>
		<li>Best of 3 games when challenging tier 2+.</li>
	</ul>
		
</div>
