<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
		<title>Sparc Pong</title>
		<!-- Socket Integration -->
		<script src='/socket.io/socket.io.js'></script>
		
		<!-- Angular: Essential Libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
		<script src='/bower/angular-bootstrap/ui-bootstrap.min.js'></script>
		<script src='/bower/angular-bootstrap/ui-bootstrap-tpls.js'></script>
		
		<!-- Angular: Filters -->
		<script src='/javascripts/filters/_filters.js'></script>
		<script src='/javascripts/filters/tier.js'></script>
		<script src='/javascripts/filters/challenge.js'></script>
		<script src='/javascripts/filters/mongoDate.js'></script>
		
		<!-- Angular: Services -->
		<script src='/javascripts/services/_services.js'></script>
		<script src='/javascripts/services/playerService.js'></script>
		<script src='/javascripts/services/challengeService.js'></script>
		<script src='/javascripts/services/socket.js'></script>
		<script src='/javascripts/services/timeService.js'></script>
		<script src='/javascripts/services/modalService.js'></script>
		
		<!-- Angular: Directives -->
		<script src='/javascripts/directives/_directives.js'></script>
		<script src='/javascripts/directives/timeGap.js'></script>
		<script src='/javascripts/directives/loggedIn.js'></script>
		<script src='/javascripts/directives/untilForfeit.js'></script>
		<script src='/javascripts/directives/focusFirst.js'></script>
		
		<!-- Angular: Controllers -->
		<script src='/javascripts/controllers/_controllers.js'></script>
		<script src='/javascripts/controllers/headerController.js'></script>
		<script src='/javascripts/controllers/boardController.js'></script>
		<script src='/javascripts/controllers/signUpController.js'></script>
		<script src='/javascripts/controllers/profileController.js'></script>
		<script src='/javascripts/controllers/changeNameController.js'></script>
		<script src='/javascripts/controllers/info/infoChallengesController.js'></script>
		<script src='/javascripts/controllers/info/infoRulesController.js'></script>
		
		<!-- Angular: Main App -->
		<script src='/javascripts/sparcPongApp.js'></script>
		
		<!-- Bootstrap: Essential JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<!-- Bootstrap CSS -->
		<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		
		
		<!-- CSS Styling -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/modals.css' />
		<link rel='stylesheet' href='/stylesheets/partials/board.css' />
		<link rel='stylesheet' href='/stylesheets/partials/profile.css' />
		
	</head>
	<body ng-app="sparcPongApp">
		<div class="wrapper">
			<nav class="navbar navbar-default navbar-fixed-top" ng-controller="headerController">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!--<a class="navbar-brand"></a-->
					</div>

					<div class="navbar-collapse collapse" id="main-navbar">
						
						<!-- Navigation Links -->
						<ul class="nav navbar-nav">
							<li role="presentation"><a href="#/board">Board</a></li>
							<li role="presentation" logged-in>
								<a ng-href="#/profile/{{myClient.player._id}}">Profile</a>
							</li>
							<!-- Account Links -->
							<li role="presentation" class="dropdown" logged-in>
								<a class="dropdown-toggle" data-toggle="dropdown" role="button">Account <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li role="presentation">
										<a ng-href="#/account/settings">Settings</a>
										<a ng-href="#/account/changeName">Change Name</a>
									</li>
								</ul>
							</li>
							
							<!-- Info Links -->
							<li role="presentation" class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button">Info <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li role="presentation"><a ng-href="#/info/challenges">Challenges</a></li>
									<li role="presentation"><a ng-href="#/info/rules">Game Rules</a></li>
								</ul>
							</li>
						</ul>
						
						<!-- Log In/Out -->
						<ul class="nav navbar-nav navbar-right">
							<li role="presentation" ng-hide="myClient.player"><a ng-href="#/signUp">Sign Up</a></li>
							<li role="presentation">
								<a href='' id="logInOut" ng-click="changeUser()" ng-bind="myClient.player ? 'Log Out' : 'Log In'"></a>
							</li>
						</ul>
						
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
			
			<div class="page-header">
				<h1 ng-bind="pageTitle"></h1>
			</div>
			
			<!-- Injected with Partials -->
			<div ng-view></div>
			
			<footer>
				<span ng-bind="clients"></span> <span ng-bind="clients == 1 ? 'ponger' : 'pongers'"></span> currently online
			</footer>
		
		</div><!-- /.wrapper -->
	</body>
</html>
