<!DOCTYPE html>
<html>
	<head>
		<title>Sparc Pong</title>
		<!-- Socket Integration -->
		<script src="/socket.io/socket.io.js"></script>
		
		<!-- Global Functions -->
		<script src="/javascripts/globals/functions.js"></script>
		
		<!-- Angular: Essential Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
		<script src="/bower/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script src="/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		
		<!-- Bootstrap: Essential JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		
		<!-- Angular: Filters -->
		<script src="/javascripts/filters/_filters.js"></script>
		<script src="/javascripts/filters/tier.js"></script>
		<script src="/javascripts/filters/challenge.js"></script>
		<script src="/javascripts/filters/mongoDate.js"></script>
		
		<!-- Angular: Services -->
		<script src="/javascripts/services/_services.js"></script>
		<script src="/javascripts/services/playerService.js"></script>
		<script src="/javascripts/services/challengeService.js"></script>
		<script src="/javascripts/services/socket.js"></script>
		<script src="/javascripts/services/timeService.js"></script>
		<script src="/javascripts/services/modalService.js"></script>
		
		<!-- Angualr: Directives -->
		<script src="/javascripts/directives/_directives.js"></script>
		<script src="/javascripts/directives/timeGap.js"></script>
		<script src="/javascripts/directives/loggedIn.js"></script>
		<script src="/javascripts/directives/untilForfeit.js"></script>
		
		<!-- Angular: Controllers -->
		<script src="/javascripts/controllers/_controllers.js"></script>
		<script src="/javascripts/controllers/headerController.js"></script>
		<script src="/javascripts/controllers/boardController.js"></script>
		<script src="/javascripts/controllers/newPlayerController.js"></script>
		<script src="/javascripts/controllers/profileController.js"></script>
		
		
		<!-- Angular: Main App -->
		<script src="/javascripts/sparcPongApp.js"></script>
		
		
		<!-- CSS Styling -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- Bootstrap CSS -->
		<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
		
		
		
	</head>
	<body ng-app="sparcPongApp">
		<header ng-controller="headerController">
		
			<div class="client-info" logged-in>
				<span ng-bind="myClient.player.name"></span>
			</div>
			
			<div class="clients-info">
				<span ng-bind="clients"></span><span> currently viewing.</span>
			</div>
			
			<!-- Username Selection -->
			<select class="choose-username" ng-options="player.name for player in players" ng-model="player" ng-change="selectUser(player)">
				<option value=""> -- choose username -- </option>
			</select>
			
			<!-- Navigation Bar Links -->
			<ul class="nav-bar">
				<li><a ng-href="#/board">Board</a></li>
				<li logged-in><a ng-href="#/profile/{{myClient.player._id}}">My Profile</a></li>
				<li><a ng-href="#/create/newPlayer">New Player</a></li>
			</ul>
		</header>
		
		<!-- Injected with Partials -->
		<div ng-view></div>
	</body>
</html>
