<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
		<title>Sparc Pong</title>
		<!-- Socket Integration -->
		<script src='/socket.io/socket.io.js'></script>
		
		<!-- JQuery -->
		<script src="/bower/jquery/dist/jquery.min.js"></script>
		
		<!-- Angular: Essential Libraries -->
		<script src="/bower/angular/angular.min.js"></script>
		<script src="/bower/angular-route/angular-route.min.js"></script>
		<script src="/bower/angular-cookies/angular-cookies.min.js"></script>
		<script src='/bower/angular-bootstrap/ui-bootstrap-tpls.js'></script>
		
        <!-- Angular: Major App Structure -->
	    <script src='/javascripts/app.modules.js'></script>
	    <script src='/javascripts/app.routes.js'></script>

		<!-- Angular: Filters -->
		<script src='/javascripts/filters/tier.js'></script>
		<script src='/javascripts/filters/mongoDate.js'></script>
		
		<!-- Angular: Services -->
		<script src='/javascripts/services/playerService.js'></script>
		<script src='/javascripts/services/teamService.js'></script>
		<script src='/javascripts/services/challenges/playerChallengeService.js'></script>
		<script src='/javascripts/services/challenges/teamChallengeService.js'></script>
		<script src='/javascripts/services/socket.js'></script>
		<script src='/javascripts/services/timeService.js'></script>
		<script src='/javascripts/services/modalService.js'></script>
		
		<!-- Angular: Directives -->
		<script src='/javascripts/directives/timeGap.js'></script>
		<script src='/javascripts/directives/loggedIn.js'></script>
		<script src='/javascripts/directives/untilForfeit.js'></script>
		<script src='/javascripts/directives/focusFirst.js'></script>
		
		<!-- Angular: Controllers -->
		<script src='/javascripts/controllers/headerController.js'></script>
		<script src='/javascripts/controllers/boards/singlesBoardController.js'></script>
		<script src='/javascripts/controllers/boards/doublesBoardController.js'></script>
		<script src='/javascripts/controllers/signUpController.js'></script>
		<script src='/javascripts/controllers/profiles/playerProfileController.js'></script>
		<script src='/javascripts/controllers/profiles/teamProfileController.js'></script>
		<script src='/javascripts/controllers/account/changeUsernameController.js'></script>
		<script src='/javascripts/controllers/account/changeEmailController.js'></script>
		<script src='/javascripts/controllers/account/changeAlertsController.js'></script>
		
		<!-- Angular: Main App -->
		<script src='/javascripts/sparcPongApp.js'></script>
		
		
		<!-- Bootstrap: Essential JS -->
		<script src='/bower/bootstrap/dist/js/bootstrap.min.js'></script>
		
		<!-- Bootstrap CSS -->
		<link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css'>
		
		
		<!-- CSS Styling -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/modals.css' />
		<link rel='stylesheet' href='/stylesheets/partials/board.css' />
		<link rel='stylesheet' href='/stylesheets/partials/profile.css' />
		<link rel='stylesheet' href='/stylesheets/partials/changeAlerts.css' />
		
		
	</head>
	<body ng-app="sparcPongApp">
		<div class="wrapper">
			<nav class="navbar navbar-default navbar-fixed-top" ng-controller="headerController">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!--<a class="navbar-brand"></a-->
					</div>

					<div class="navbar-collapse collapse" id="main-navbar">
						
						<!-- Navigation Links -->
						<ul class="nav navbar-nav">
							<li role="presentation"><a href="#!/board/singles">Singles</a></li>
							<li role="presentation"><a href="#!/board/doubles">Doubles</a></li>
							
							<!-- Account Links -->
							<li role="presentation" class="dropdown" logged-in>
								<a class="dropdown-toggle" data-toggle="dropdown" role="button">Account <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li role="presentation" class="dropdown-header">Singles</li>
									<li role="presentation"><a ng-href="#!/profile/player/{{myClient.playerId}}">Profile</a></li>
									<li role="presentation"><a ng-href="#!/account/changeUsername">Change Username</a></li>
									<li role="separator" class="divider"></li>
									<li role="presentation" class="dropdown-header">Doubles</li>
									<li role="presentation"><a ng-href="#!/profile/team/FIND">Profile</a></li>
									<li role="presentation" class="disabled"><a ng-href="">Change Team Name</a></li>
									<li role="separator" class="divider"></li>
									<li role="presentation"><a ng-href="#!/account/changeEmail">Change Email</a></li>
									<li role="presentation"><a ng-href="#!/account/changeAlerts">Configure Alerts</a></li>
								</ul>
							</li>
							
							<!-- Help Links -->
							<li role="presentation" class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button">Help <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li role="presentation"><a ng-href="#!/help/alerts">Alerts</a></li>
									<li role="presentation"><a ng-href="#!/help/challenges">Challenges</a></li>
									<li role="presentation"><a ng-href="#!/help/rules">Game Rules</a></li>
								</ul>
							</li>
						</ul>
						
						<!-- Log In/Out -->
						<ul class="nav navbar-nav navbar-right">
							<li role="presentation" ng-hide="myClient.playerId"><a ng-href="#!/signUp/player">Sign Up</a></li>
							<li role="presentation">
								<a id="logInOut" ng-click="changeUser()" ng-bind="myClient.playerId ? 'Log Out' : 'Log In'"></a>
							</li>
						</ul>
						
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
			
			<!-- Injected with Partials -->
			<div ng-view></div>
			
			<footer>
				<span ng-bind="clients"></span> <span ng-bind="clients == 1 ? 'ponger' : 'pongers'"></span> currently online<br>
				<span>Version 2.2.0</span>
			</footer>
		
		</div><!-- /.wrapper -->
	</body>
</html>
