<!DOCTYPE html>
<html>
	<head>
		<title>Sparc Pong</title>
		<!-- Angular: Essential Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
		
		<!-- Angular: Filters -->
		<script src="/javascripts/filters/_filters.js"></script>
		<script src="/javascripts/filters/tier.js"></script>
		<script src="/javascripts/filters/challenge.js"></script>
		
		<!-- Angular: Services -->
		<script src="/javascripts/services/_services.js"></script>
		<script src="/javascripts/services/playerService.js"></script>
		<script src="/javascripts/services/challengeService.js"></script>
		
		<!-- Angular: Controllers -->
		<script src="/javascripts/controllers/_controllers.js"></script>
		<script src="/javascripts/controllers/navController.js"></script>
		<script src="/javascripts/controllers/boardController.js"></script>
		<script src="/javascripts/controllers/newPlayerController.js"></script>
		<script src="/javascripts/controllers/profileController.js"></script>
		
		
		<!-- Angular: Main App -->
		<script src="/javascripts/sparcPongApp.js"></script>
		
		
		<!-- CSS Styling -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
		
		
		<!-- Socket Integration -->
		<script src="https://cdn.socket.io/socket.io-1.4.4.js"></script>
		<script src="/javascripts/sockets/client.js"></script>
		
		<!-- Global Functions -->
		<script src="/javascripts/globals/functions.js"></script>
	</head>
	<body ng-app="sparcPongApp">
		<div class="nav-bar" ng-controller="navController">
			<select class="choose-username" ng-options="player.name for player in players" ng-model="player" ng-change="selectUser(player)">
				<option value=""> -- choose username -- </option>
			</select>
		</div>
		
		<h1>Test</h1>
		
		<!-- Injected with Partials -->
		<div ng-view></div>
	</body>
</html>
