<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
		<title>Sparc Pong</title>
		<!-- Socket Integration -->
		<script src='/socket.io/socket.io.js'></script>
		
		<!-- Global Functions -->
		<script src='/javascripts/globals/functions.js'></script>
		
		<!-- Angular: Essential Libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
		<script src='/bower/angular-bootstrap/ui-bootstrap.min.js'></script>
		<script src='/bower/angular-bootstrap/ui-bootstrap-tpls.js'></script>		
		
		<!-- Angular: Filters -->
		<script src='/javascripts/filters/_filters.js'></script>
		<script src='/javascripts/filters/tier.js'></script>
		<script src='/javascripts/filters/challenge.js'></script>
		<script src='/javascripts/filters/mongoDate.js'></script>
		
		<!-- Angular: Services -->
		<script src='/javascripts/services/_services.js'></script>
		<script src='/javascripts/services/playerService.js'></script>
		<script src='/javascripts/services/challengeService.js'></script>
		<script src='/javascripts/services/socket.js'></script>
		<script src='/javascripts/services/timeService.js'></script>
		<script src='/javascripts/services/modalService.js'></script>
		
		<!-- Angular: Directives -->
		<script src='/javascripts/directives/_directives.js'></script>
		<script src='/javascripts/directives/timeGap.js'></script>
		<script src='/javascripts/directives/loggedIn.js'></script>
		<script src='/javascripts/directives/untilForfeit.js'></script>
		<script src='/javascripts/directives/focusFirst.js'></script>
		
		<!-- Angular: Controllers -->
		<script src='/javascripts/controllers/_controllers.js'></script>
		<script src='/javascripts/controllers/headerController.js'></script>
		<script src='/javascripts/controllers/boardController.js'></script>
		<script src='/javascripts/controllers/newPlayerController.js'></script>
		<script src='/javascripts/controllers/profileController.js'></script>
		
		<!-- Angular: Main App -->
		<script src='/javascripts/sparcPongApp.js'></script>
		
		<!-- Bootstrap: Essential JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<!-- Bootstrap CSS -->
		<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel='stylesheet' href='/stylesheets/bootstrapTheme.css' />
		
		
		<!-- CSS Styling -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/modals.css' />
		<link rel='stylesheet' href='/stylesheets/partials/board.css' />
		
	</head>
	<body ng-app="sparcPongApp">
		<nav class="navbar navbar-default navbar-fixed-top" ng-controller="headerController">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--<a class="navbar-brand"></a-->
				</div>

				<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
					
					<!-- Navigation Links -->
					<ul class="nav navbar-nav">
						<li role="presentation"><a href="#/board">Board</a></li>
						<li role="presentation" logged-in>
							<a ng-href="#/profile/{{myClient.player._id}}">Profile</a>
						</li>
						<!-- New Links -->
						<li role="presentation" class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button">New <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="presentation"><a ng-href="#/create/newPlayer">Player</a></li>
							</ul>
						</li>
						<!-- Info Links -->
						<li role="presentation" class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button">Info <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="presentation"><a ng-href="#/info/challenge">Challenges</a></li>
								<li role="presentation"><a ng-href="#/info/rules">Game Rules</a></li>
							</ul>
						</li>
						
					</ul>
					
					<!-- Sign In/Out -->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<button type="button" class="btn btn-default navbar-btn" id="signInOut" ng-click="changeUser()" ng-bind="myClient.player ? 'Sign Out' : 'Sign In'">Sign In</button>
						</li>
					</ul>
					
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container -->
		</nav>
		
		<div class="page-header">
			<h1 ng-bind="pageTitle"></h1>
		</div>
		
		<!-- Injected with Partials -->
		<div ng-view></div>
		
	</body>
</html>
