/* Score */
.modal-body .scoreContainer {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.modal-body input.score {
	width: 5em;
	text-align: center;
	float: right;
}


/* Sign In */
.modal-body .signInContainer select {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
