html {
	overflow-y: scroll;
}

body {
	padding: 27px 15px;
}

body div.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

a, a:link, a:active, a:visited {
	color: #00B7FF;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: orange;
}

button.challengeButton {
	float: right;
	display: inline-block;
}


report-player-challenge, report-team-challenge {
	float: right;
}


.online-indicator {
	display: inline-block;
	background-color: green;
	width: 10px;
	height: 10px;
	border-radius: 10px;
}

li .sp-button {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	font-size: 14px !important;
	vertical-align: top !important;
}

.navbar .navbar-brand img {
	height: 20px;
	width: 20px;
}

footer {
	margin-top: 55px;
	width: 100%;
	text-align: center;
	font-size: 12px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}