html {
	overflow-y: scroll;
}

body {
	padding: 25px 15px;
}

body .wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

a {
	color: #00B7FF;
}

a:hover {
	text-decoration: none;
}

footer {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 12px;
}
