<div class="page-header">
	<h1>Doubles</h1>
</div>
<div class="partial-board">
	<!-- Each Tier -->
	<div ng-repeat="t in tiers" ng-show="(teams | tier: t).length">
		<label>Tier: {{t}}</label>
		<ul class="list-group">
			<!-- Each Team -->
			<li class="list-group-item" ng-repeat="team in teams | tier: t">
				<div class="rank" ng-bind="team.rank"></div>
				<a class="username" ng-href="#/profile/team/{{team._id}}" ng-bind="team.username"></a>
				<!--<time-gap type="since" date="team.lastGame" ng-show="team.lastGame" ng-class="dangerLevel(team.lastGame)"></time-gap>-->
				<div class="initiateButton" ng-click="challengeTeam(team._id)">Challenge</div>
			</li>
		</ul>
	</div>
</div>
