<div class="partial-board">
	<div class="page-header">
		<h1>Singles</h1>
	</div>
	<!-- Each Tier -->
	<div ng-repeat="t in tiers" ng-show="(players | tier: t).length">
		<label>Tier: {{t}}</label>
		<ul class="list-group">
			<!-- Each Player -->
			<li class="list-group-item" ng-repeat="player in players | tier: t">
				<div class="rank" ng-bind="player.rank"></div>
				<span ng-show="isOnline(player._id)" class="online-indicator"></span>
				<a class="username" ng-href="#!/profile/player/{{player._id}}" ng-bind="player.username"></a>
				<button class="btn btn-primary sp-button challengeButton" ng-click="challenge(player._id)">Challenge</button>
			</li>
		</ul>
	</div>
</div>
