<div class="partial-board">
	<!-- Each Tier -->
	<div ng-repeat="t in tiers" ng-show="(players | tier: t).length">
		<label>Tier: {{t}}</label>
		<ul class="list-group">
			<!-- Each Player -->
			<li class="list-group-item" ng-repeat="player in players | tier: t">
				<div class="rank" ng-bind="player.rank"></div>
				<a class="name" ng-href="#/profile/{{player._id}}" ng-bind="player.name"></a>
				<!--<time-gap type="since" date="player.lastGame" ng-show="player.lastGame" ng-class="dangerLevel(player.lastGame)"></time-gap>-->
				<div class="challengeButton" ng-click="challenge(player._id)">Challenge</div>
			</li>
		</ul>
	</div>
</div>
