<div class="profile">
	<div class="header">
		<span>Profile for: <span ng-bind="profile.name"></span></span>
	</div>
	
	<br />
	<br />
	
	<div class="challenges">
		<div><span ng-hide="challenges.incoming.length > 0">No </span>Incoming Challenges</div>
		<div class="challenge-incoming" ng-repeat="challenge in challenges.incoming">
			<a ng-href="#/profile/{{challenge.challenger._id}}" ng-bind="challenge.challenger.name"></a>
			<span>Until Forfeit: </span>
			[<until-forfeit date="challenge.createdAt"></until-forfeit>]
			<button logged-in="[challenge.challenger._id, challenge.challengee._id]" ng-click="resolveChallenge(challenge)">Resolve</button>
			<button logged-in="challenge.challenger._id" ng-click="revokeChallenge(challenge)">Revoke</button>
			<button logged-in="challenge.challengee._id" ng-click="forfeitChallenge(challenge)">Forfeit</button>
		</div>
		
		<br />
		<br />
		
		<div><span ng-hide="challenges.outgoing.length > 0">No </span>Outgoing Challenges</div>
		<div class="challenge-outgoing" ng-repeat="challenge in challenges.outgoing">
			<a ng-href="#/profile/{{challenge.challengee._id}}" ng-bind="challenge.challengee.name"></a>
			<span>Until Forfeit: </span>
			[<until-forfeit date="challenge.createdAt"></until-forfeit>]
			<button logged-in="[challenge.challenger._id, challenge.challengee._id]" ng-click="resolveChallenge(challenge)">Resolve</button>
			<button logged-in="challenge.challenger._id" ng-click="revokeChallenge(challenge)">Revoke</button>
			<button logged-in="challenge.challengee._id" ng-click="forfeitChallenge(challenge)">Forfeit</button>
		</div>
	</div>
	
	<br />
	<br />
	
	<div class="history">
		<div><span ng-hide="challenges.resolved.length > 0">No </span>History</div>
		<div class="challenge-resolved" ng-repeat="challenge in challenges.resolved">
			<a ng-href="#/profile/{{challenge.challenger._id}}"><span ng-bind="challenge.challenger.name"></span></a>
			<span>({{challenge.challengerScore || '-'}})</span>
			<span> vs </span>
			<a ng-href="#/profile/{{challenge.challengee._id}}"><span ng-bind="challenge.challengee.name" ></span></a>
			<span>({{challenge.challengeeScore || 'forfeit'}})</span>
			<br />
			<span ng-bind="challenge.createdAt | mongoDate" ng-show="challenge.winner"></span>
			<br />
			<br />
		</div>
	</div>
</div>
