<div class="page-header">
	<h1>Reset Password</h1>
</div>
<div class="partial-resetPassword">
	<form class="form-horizontal" ng-submit="validatePassword()" autocomplete="off">
		<div class="form-group">
			<label class="control-label col-md-2" for="resetKey">Reset Key</label>
			<div class="col-md-10"><input class="form-control" id="resetKey" type="text" ng-model="resetKey" required /></div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="newPassword">New Password</label>
			<div class="col-md-10"><input class="form-control" id="newPassword" type="password" ng-model="newPassword" required focus-first /></div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="newPasswordConfirm">Confirm Password</label>
			<div class="col-md-10"><input class="form-control" id="newPasswordConfirm" type="password" ng-model="newPasswordConfirm" required /></div>
		</div>
		<div class="form-group"> 
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-primary">Change</button>
				<button type="button" class="btn btn-default" ng-click="goToLogin()">Back</button>
			</div>
		</div>
	</form>
</div>
