.partial-board li .rank {
	display: inline-block;
	width: 2.15em;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 8px;
}

.partial-board li .name {
	display: inline-block;
	word-wrap: normal;
}

.partial-board li time-gap {
	padding: 3px;
	border-radius: 2px;
}

.partial-board li div.challengeButton {
	display: inline;
	float: right;
	cursor: pointer;
	color: white;
	font-size: 15px;
	background-color: grey;
	border-radius: 3px;
	padding: 2px 8px;
	margin: 0;
}
.partial-board li div.challengeButton:hover {
	background-color: orange;
}


.partial-board .li .glyphicon-fullscreen {
	cursor: pointer;
	line-height: inherit;
}