.account-changeAlerts form div.alert-buttons {
    width: 100%;
    text-align: center;
    margin: 5px auto;
}

.account-changeAlerts form div.alert-buttons-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
}

.account-changeAlerts form div.alert-buttons button {
    margin: 5px;
    width: 150px;
}
