.partial-login .login-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    max-width: 400px;
}

.partial-login .login-box h1,
.partial-login .login-box .sign-up {
    text-align: center;
    margin-top: 10px;
}

.partial-login .login-box input[type="password"] {
    margin-bottom: 0;
}
.partial-login .login-box .forgot-password {
    display: inline-block;
    float: right;
    margin-bottom: 15px;
}
